@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Tapestry', cursive;
}

  /*  Aplico variables,mixin,extend de scss */

@import "variables";
@import "extend";
@import "mixin";
@import "maps";




/* Header aplico Boostrap menubar*/

.navbar {
   display: flex;
   flex-wrap: nowrap;

}

.imagennavBar {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.navbar-nav {
    text-align: center;
    .nav-link {
        color: black !important; 
        font-size: 19.8px;
        font-weight: 600;
        cursor: pointer;
        
    }
}

.nav-item {
    &:hover {
    background-color: yellow ;
    border-radius: 20px 20px;
    box-shadow: 0 4px rgb(250, 3, 3);
    transform: translateY(4px)
    }
    
}

   /*  Sección de imágenes, parrafo div main section Index */ 

.imagenencabezadoPrincipal {
    width: 100%;
    object-fit: cover;
}

.padrepresentacioonbruceLee{
    background-image: $color-de-fondo;
    .bienvenidoTexto {
        font-weight: bold;
        display: inline-block;
        color: black;
        font-size: 26px;
        font-weight: 600;
        padding-left: 15px;
        color: red;
    }
    .subtitulobruceLee {
        display: inline-block;
        color: black;
        font-size: 21px;
        font-weight: 100;
        padding-left: 15px;
    }
}




.padreencabezadoIndex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    .imagenEncabezado1 {
        width: 45%;
        height: 70%;
        border: 8px solid black;
        padding: 7px 7px 7px 7px;
        margin-top: 5px;
        box-shadow: -8px 4px ;

        &:hover {
            filter: grayscale(80%);
        }
        
    }
}


.parrafobruceLee {
    color: black;
    font-size: 17px;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    margin-right: 10px;

}

.imagendebruceLee2 {
    position: fixed;
    width: 100px;
    height: 100px;
    display: inline-block;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    
}

.contenedorAsociate {
   border-radius: 2px;
   width: 300px;
   height: 150px;
   padding: 15px;
   text-align: center;
   font-weight: bold;
   margin-bottom: 30px;
   position: relative;
   left: 20%;
   background-image: $color-de-fondo;
   box-shadow: 5px 5px 5px 5px;
   max-width: 77%;
   .botonAsociate {
    text-decoration: none;
    color: black;
    background-color: yellow;
    font-size: 16px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 9px grey;
    display: flex;
    flex-direction: column;
    .botonAsociate:hover {
        border-radius: all 10px;
        box-shadow: 0 5px grey;
        transform: translateY(4px)
    }

}
   
}   

.peliculasH2 {
    color: red;
}


/* sección fotter Index  Aplico SASS*/

.footerIndex {
    padding-top: 45px;
    border: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: darkslategray;
    box-shadow: 5px 5px 5px 11px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 15px;
    
    .logoInstragram {
        width: 30px;
        height: 30px;
    }
    .logoFacebook {
        width: 30px;
        height: 30px;
    }
    &:hover {
        filter: grayscale(70%);
    }
      
}


/* Sección Contacto */

.imagenCollage{
    width: 100%;
    height: 50%;
}
.contactoUno {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 35%;
  
}

.formularioContacto {
    background-image: url(https://chhaylinlim.files.wordpress.com/2014/10/bruce-lee.jpg);
    background-size: cover;
    background-position: center;
    width: 40%;
    color:whitesmoke;
    position: relative;
    left: 30%;
    font-weight: bold;
    font-size: 17px;
    .inputFormulario{
        width: 155px;
        height: 20px;
        border: solid $color-de-fondodos;
        &:focus {
            height: 40px;
            
        }
    }
    
}

.bordeFormulario {
    border: 7px black double;
    padding: 8px 8px 8px 8px;
    
 }
 
 .boton1 {
     background-color: #db5d36;
     border-radius: 10px;
     padding: 9px 9px 9px 9px;
     font-size: 14px;
     color: white;
     padding-top: 1px;
     border: none;
     
}
 
.botonsubmitReset {
     display: flex;
     justify-content: center;
     gap: 10px;
     height: 25px;
     
}

.form-floating {
    white-space: pre;


    .form-control {
        background-image: url(https://acimg.auctivacommerce.com/imgdata/0/2/0/4/2/7/webimg/7706602.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: contain;
        border: 2px solid $color-de-fondodos;

    }
    
}

.footerFormulario  {
    
    padding-top: 45px;
    padding-bottom: 35px;
    border: 3px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: darkslategray;
    box-shadow: 5px 15px 5px 17px;
    display: flex;
    flex-direction: $flex-rowreverse;
    justify-content:space-evenly;
    gap: 15px;
    .logofacebookFormulario {
        width: 30px;
        height: 30px;
    }
    .logoinstagramFormulario {
        width: 30px;
        height: 30px;
    }
    &:hover {
        filter: grayscale(70%);
    }

}

   /* Sección Multimedia */

.menuMultimedia {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 35%;
}

.imagenesTexto {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: 6px double;
    margin-top: 40px;
    background-image: $color-de-fondo;
    
}

.carousel {
    width: 60%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px black double;
    padding: 20px 20px 20px 20px;
    background-image: $color-de-fondo; 
    &:hover {
        filter: invert(10%);
    }

}

.videosTexto {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: 6px double;
    margin-top: 40px;
    background-image: $color-de-fondo;


}

.videoMultimedia {
    position: relative;
    left: 27%;
    margin-top: 30px;
    max-width: 55%;
    border: 15px black double;
    padding: 7px 7px 7px 7px;
    background-color: $color-de-fondodos;
    box-shadow: 3px -3px 3px 3px;

}

.footerMultimedia {
   
    padding-top: 45px;
    padding-bottom: 35px;
    border: 3px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: darkslategray;
    box-shadow: 5px 15px 5px 17px;
    display: flex;
    flex-direction: $flex-rowreverse;
    justify-content:space-evenly;
    gap: 15px;
    .logofacebookMultimedia {
        width: 30px;
        height: 30px;
    }
    .logoinstagramMultimedia {
        width: 30px;
        height: 30px;
    }
    &:hover {
        filter: grayscale(70%);
    }

}

   /* Sección Biografía-historia */

.biografiadebruceLee {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 35%;
    
}

.parrafoBiografia {
    margin-top: 5px;
    font-size: 17px;
    width: 50%;
    margin-left: 15px;
    margin-top: 30px;
    font-weight: bolder ;
    padding-left: 8px;
    padding-right: 8px;
    .bruceleeBio {
        text-transform: uppercase;
    }
    .jeetkuneDoo {
        text-transform: uppercase;
    }
    .imagenlibrobruceLee {
        position: absolute;
        top: 60%;
        left: 60%;
        transition: all 1s;
        &:hover {
            width: 300px;
        }
    }
    .imagenlibrojeetkuneDo {
        position: absolute;
        width: 30%;
        top: 165%;
        left: 59%;
        transition: all 2s;
        &:hover {
           width: 100px;
        }
    }
    
}

.footerHistoria {
    
    padding-top: 45px;
    padding-bottom: 35px;
    border: 3px solid black;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: darkslategray;
    box-shadow: 5px 15px 5px 17px;
    display: flex;
    flex-direction: $flex-rowreverse;
    justify-content:space-evenly;
    gap: 15px;
    .logofacebookHistoria {
        width: 30px;
        height: 30px;
    }
    .logoinstagramHistoria {
        width: 30px;
        height: 30px;
    }
    &:hover {
        filter: grayscale(70%);
    }
}

    /* Sección Tienda */

.tiendaTitulo {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 35%;

}

.descripcionTienda {
    text-align: center;
    background-image: $color-de-fondo;
    padding: 7x 7px 7px 7px;
    font-size: 28px;
    
}

.vinculoTienda {
    margin-top: 20px;
    text-align: center;
    .botonTienda {
        color: white;
        text-decoration: none;
        list-style-type: none;
        font-weight: bold;
        font-size: 20px;
        background-image: $color-de-fondo;
        border-radius: 20px 20px;
        padding: 5px;
        &:hover {
            background-color: black;
            border-radius: 20px 20px;
            box-shadow: 0 4px grey;
            transform: translateY(4px)
            }
    
    }
    
}
.carritotiendaPadre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 10%;
    margin-bottom: 30%;
    
    .imagenescarrito {
        border: 2px black solid;
        margin: 4px 4px 4px 4px;
        height: 200px;
        &:hover {
            filter:opacity(50%);
            
            
        }
        
    }
    h3 {
        position: relative;
        left: 23%;
        text-align: center;
        color: black;
        font-weight: bold;
        font-size: 18px;
        width: 35%;
        background-image: $color-de-fondo;
        border-radius: 20px 20px;
        padding: 5px 5px 5px 5px;
        &:hover {
            background-color: black;
            border-radius: 20px 20px;
            box-shadow: 0 4px grey;
            transform: translateY(6px)
            }
    }
}

.footertiendaPadre {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    .footerTienda {
        padding-top: 45px;
        padding-bottom: 35px;
        border: 3px solid black;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        background-color: darkslategray;
        box-shadow: 5px 15px 5px 17px;
        display: flex;
        flex-direction: $flex-rowreverse;
        justify-content:space-evenly;
        gap: 15px;
        .logoinstragramTienda {
            width: 30px;
            height: 30px;
        }
        .logofacebookTienda {
            width: 30px;
            height: 30px;
        }
        &:hover {
            filter: grayscale(70%);
        }
    }
    
}

     /*  Aplico GRID */

     .bodyPrade {
        display: grid;
        grid-template-areas: 
                            "header header header"
                            "encabezado encabezado encabezado"
                            "descripcionBruceLee descripcionBruceLee descripcionBruceLee"
                            "imagenesIndex imagenesIndex imagenesIndex"
                            "contenedorAsociate contenedorAsociate contenedorAsociate"
                            "footer footer footer"
                            
    
    }
    
    header {
        grid-area: header;
        
    }
    
    .encabezado {
        grid-area: encabezado;
        
    }
    
    .descripcionBruceLee {
        grid-area: descripcionBruceLee;
    }
    
    .imagenesIndex {
        grid-area: imagenesIndex;
    }
    
    .contenedorAsociate {
        grid-area: contenedorAsociate;
    }
    
    footer {
        grid-area: footer;
    }

    

    /* Aplico MEDIA QUERIE */

    @media screen and (max-width:992px) {
    


     
    .padreencabezadoIndex {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
   .formularioContacto {
        width: 60%;
        
    }
  
   .videoMultimedia {
        position: relative;
        left: 20%;
        
    }
    
    .textareaContacto {
        max-width: 150px;
    }

    .descripcionTienda {
        padding-top: 15px;
    }

    .imagenespeliculasBruceLee {
        display: none;
        
    }

    .tiendaTitulo {
        position: absolute;
        right: 40%;
        bottom: 61%;
       

    }

    .menuMultimedia {
        position: absolute;
        right: 40%;
        bottom: 61%;
        

    }

    .biografiadebruceLee {
        position: absolute;
        right: 40%;
        bottom: 61%;
        
    }

    .contactoUno {
        position: absolute;
        right: 40%;
        bottom: 61%;
    }
    .carritotiendaPadre {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        margin-top: 230px;
        margin-bottom: 250px;
        margin-left: 25%;
        .imagenescarrito {
            width: 70%;
            
        }
       
    }
   
    #seccionHistoria {
        display: none;
    }
    .parrafoBiografia1 {
      width: 200%;
      
    }
        
}
